{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <section>
        <h1>Mon Compte</h1>
        <p>
            Modifiez vos informations de profil ici. Laissez votre mot de passe <strong>vide</strong> si vous ne voulez
            pas le changer.
        </p>
    </section>

    {{ form_start(form, {'attr': {'class': 'app-form'}}) }}

    <fieldset class="form-fieldset">
        <legend class="form-legend">Vos identifiants</legend>

        <div class="form-group">
            <label for="{{ form.email.vars.id }}"
                   class="form-label {% if form.email.vars.required %}required{% endif %}">
                {{ form.email.vars.label }}
            </label>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            <label for="{{ form.plainPassword.vars.id }}"
                   class="form-label {% if form.plainPassword.vars.required %}required{% endif %}">
                {{ form.plainPassword.vars.label }}
            </label>
            {{ form_widget(form.plainPassword) }}
            {{ form_errors(form.plainPassword) }}
        </div>
    </fieldset>

    <fieldset class="form-fieldset">
        <legend class="form-legend">Votre identité</legend>

        <div class="form-group">
            <label for="{{ form.gender.vars.id }}"
                   class="form-label {% if form.gender.vars.required %}required{% endif %}">
                {{ form.gender.vars.label }}
            </label>
            {{ form_widget(form.gender) }}
            {{ form_errors(form.gender) }}
        </div>

        <div class="form-group">
            <label for="{{ form.firstname.vars.id }}"
                   class="form-label {% if form.firstname.vars.required %}required{% endif %}">
                {{ form.firstname.vars.label }}
            </label>
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}
        </div>

        <div class="form-group">
            <label for="{{ form.lastname.vars.id }}"
                   class="form-label {% if form.lastname.vars.required %}required{% endif %}">
                {{ form.lastname.vars.label }}
            </label>
            {{ form_widget(form.lastname) }}
            {{ form_errors(form.lastname) }}
        </div>

        <div class="form-group">
            <label for="{{ form.pseudo.vars.id }}"
                   class="form-label {% if form.pseudo.vars.required %}required{% endif %}">
                {{ form.pseudo.vars.label }}
            </label>
            {{ form_widget(form.pseudo) }}
            {{ form_errors(form.pseudo) }}
        </div>
    </fieldset>

    <button type="submit" class="app-btn cta">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
