{% extends 'layout/default/_index.html.twig' %}

{% block title %}Les Parcours{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Parcours"/>

        <h1>
            <small>Les Parcours :</small>
            <br/>
            Choisissez votre programme !
        </h1>
    </section>

    {% if courses | length > 0 %}
        <section>
            <div class="app-grid two-sm">
                {% for course in courses %}
                    <div class="app-card alt">
                        <a href="{{ path('app_course_show', {'slug': course.slug}) }}">
                            {% if course.cover %}
                                <img src="{{ asset('uploads/course/' ~ course.cover) }}"
                                     alt="{{ course.name }}"/>
                            {% else %}
                                <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Parcours"/>
                            {% endif %}

                            <div class="card-body">
                                <h3>{{ course.name }}</h3>
                            </div>

                            <div class="card-footer text-center">
                                {% set quizzs = app_quizzService.quizzsByCourse(course.id, app.user) %}
                                {% if quizzs | length > 0 %}
                                    <strong>
                                        <small>
                                            {{ quizzs | length }}
                                            Quizz{% if quizzs | length > 1 %}s{% endif %}
                                            à réaliser
                                        </small>
                                    </strong>
                                {% endif %}

                                {% if app.user.attempts | length > 0 %}
                                    {% set quizzs = [] %}
                                    {% for attempt in app.user.attempts %}
                                        {% for category in course.quizzCategories %}
                                            {% if attempt.quizz in category.quizzs %}
                                                {% set quizzs = quizzs | merge([attempt.quizz]) %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    {% if quizzs | length > 0 %}
                                        <strong>
                                            <small>
                                                {{ quizzs | length }}
                                                Quizz{% if quizzs | length > 1 %}s{% endif %}
                                                en cours
                                            </small>
                                        </strong>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% else %}
        <section class="alt">
            <p class="text-center">
                <strong>Aucun Parcours suivi pour le moment.</strong>
            </p>

            <a href="#" class="app-btn">
                Réclamez le vôtre !
            </a>
        </section>
    {% endif %}
{% endblock %}
