{% extends 'layout/default/_index.html.twig' %}

{% block title %}Parcours - {{ course.name }}{% endblock %}

{% block main %}
    <section class="bg-image">
        {% if course.cover %}
            <img src="{{ asset('uploads/course/' ~ course.cover) }}" alt="{{ course.name }}"/>
        {% else %}
            <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Parcours"/>
        {% endif %}

        <h1>
            <small>Parcours :</small>
            <br/>
            {{ course.name }}
        </h1>
    </section>

    {% if app.user.userCourses and app.user.userCourses | length > 1 %}
        <section class="controls">
            <a href="{{ path('app_course_index') }}" class="text-primary">
                <i class="fa-solid fa-circle-arrow-left"></i>
                Retour
            </a>
        </section>
    {% endif %}

    {% if false %}
        <section>
            <h2>Quizzs en cours</h2>
            {% include 'quizz/_grid.html.twig' with {'quizzs': quizzs, 'warning': true} %}
        </section>
    {% endif %}

    {% set quizzs = app_quizzService.collectQuizzsFromCategories(course.quizzCategories, app.user) %}
    <section class="alt">
        <h2>
            {{ quizzs | length }}
            Quizz{% if quizzs | length > 1 %}s{% endif %}
            à réaliser dans ce parcours
        </h2>
        {% include 'quizz/_grid.html.twig' %}
    </section>

    {% if app.user.attempts | length > 0 %}
        {% set quizzs = [] %}
        {% for attempt in app.user.attempts %}
            {% if attempt.quizz in app_quizzService.quizzsByCourse(course.id) %}
                {% set quizzs = quizzs | merge([attempt.quizz]) %}
            {% endif %}
        {% endfor %}
        {% if quizzs | length > 0 %}
            <section>
                <h2>
                    {{ app.user.attempts | length }}
                    Quizz{% if app.user.attempts | length > 1 %}s{% endif %}
                    terminé{% if app.user.attempts | length > 1 %}s{% endif %}
                </h2>
                {% include 'quizz/_grid.html.twig' with {'quizzs': quizzs, 'success': true} %}
            </section>
        {% endif %}
    {% endif %}
{% endblock %}
