{% extends 'layout/default/_index.html.twig' %}

{% block title %}Parcours - {{ course.name }}{% endblock %}

{% block main %}
    {% set quizzs = app_quizzService.collectQuizzsFromCategories(course.quizzCategories) %}

    <section class="bg-image">
        {% if course.cover %}
            <img src="{{ asset('uploads/course/' ~ course.cover) }}" alt="{{ course.name }}"/>
        {% else %}
            <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Parcours"/>
        {% endif %}

        <h1>
            <small>Parcours :</small>
            <br/>
            {{ course.name }}
        </h1>
    </section>

    {% if courses and courses | length > 1 %}
        <section class="controls">
            <a href="{{ path('app_course_index') }}" class="text-primary">
                <i class="fa-solid fa-circle-arrow-left"></i>
                Retour
            </a>
        </section>
    {% endif %}

    {% if false %}
        <section>
            <h2>Quizzs en cours</h2>
            {% include 'quizz/_grid.html.twig' with {'quizzs': quizzs, 'warning': true} %}
        </section>
    {% endif %}

    <section class="alt">
        <h2>
            {{ quizzs | length }}
            Quizz{% if quizzs | length > 1 %}s{% endif %}
            restant{% if quizzs | length > 1 %}s{% endif %}
            dans ce parcours
        </h2>
        {% include 'quizz/_grid.html.twig' %}
    </section>

    <section>
        <h2>
            {{ quizzs | length }}
            Quizz{% if quizzs | length > 1 %}s{% endif %}
            terminé{% if quizzs | length > 1 %}s{% endif %}
        </h2>
        {% include 'quizz/_grid.html.twig' with {'quizzs': quizzs, 'success': true} %}
    </section>
{% endblock %}
