{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Les Utilisateurs{% endblock %}

{% block main %}
    <section>
        <h1>Les Utilisateurs</h1>
        <p>Gérez les Utilisateurs de QuizzySphere.</p>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_user_add') }}" class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
            Nouveau
        </a>
    </section>

    <section>
        {% if users | length > 0 %}
            <dl>
                {% for user in users %}
                    <dt>
                        {{ user.fullname }}
                    </dt>
                    <dd>
                        {% if user.userGroups | length > 0 %}
                            <strong>Groupe{% if user.userGroups | length > 1 %}s{% endif %}</strong>
                            {% for userGroup in user.userGroups %}
                                {{ userGroup.name }}{% if loop.index < user.userGroups | length %}, {% endif %}
                            {% endfor %}
                            <br/>
                        {% endif %}

                        <strong>Inscrit le</strong> {{ user.createdAt | date('d/m/Y') }}
                        <br/>

                        <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="text-primary">
                            <small>
                                <i class="fa-solid fa-eye text-primary"></i>
                                <strong>Détails</strong>
                            </small>
                        </a>
                        <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="text-info">
                            <small>
                                <i class="fa-solid fa-pen-to-square text-info"></i>
                                <strong>Modifier</strong>
                            </small>
                        </a>

                        <hr/>
                    </dd>
                {% endfor %}
            </dl>
        {% else %}
            <p class="text-center">Aucun utilisateur inscrit.</p>
        {% endif %}
    </section>
{% endblock %}
