{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Fiche Utilisateur{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/users_cover.png') }}" alt="Les Utilisateurs"/>

        <h1>
            <small>Utilisateur :</small>
            <br/>
            {{ user.fullname }}
        </h1>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_user_index') }}" class="text-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Retour
        </a>
        {% if user != app.user %}
            <a href="{{ path('app_admin_user_edit', {id: user.id}) }}" class="text-info">
                <i class="fa-solid fa-pen-to-square"></i>
                Modifier
            </a>
        {% endif %}
    </section>

    <section>
        <h2>Informations</h2>
        <ul>
            {% if user.userGroups | length > 0 %}
                <li>
                    <strong class="text-primary">
                        Groupe{% if user.userGroups | length > 1 %}s{% endif %} :
                    </strong>
                    {% for userGroup in user.userGroups %}
                        <a href="{{ path('app_admin_usergroup_show', {'id': userGroup.id}) }}">
                            {{ userGroup.name }}{% if loop.index < user.userGroups | length %}, {% endif %}
                        </a>
                    {% endfor %}
                </li>
            {% endif %}
            <li>
                <strong class="text-primary">Nom :</strong>
                {{ user.gender }} {{ user.firstname }} {{ user.lastname }}
            </li>
            <li>
                <strong class="text-primary">Pseudo :</strong>
                {{ user.pseudo }}
            </li>
            <li>
                <strong class="text-primary">E-mail :</strong>
                <a href="mailto:{{ user.userIdentifier }}">{{ user.userIdentifier }}</a>
            </li>
            <li>
                <strong class="text-primary">Créé le :</strong>
                {{ user.createdAt|date('d/m/Y à H:i') }}
            </li>
        </ul>
    </section>

    <section>
        <h2>Quizzs réalisés</h2>
    </section>
{% endblock %}
