{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section>
        <h1>Créer mon compte</h1>
        <p>Créez votre compte pour entrer dans la QuizzySphere. Vous serez connecté automatiquement, prêt à jouer !</p>
    </section>

    {{ form_errors(form) }}

    {{ form_start(form, {'attr': {'class': 'app-form'}}) }}

    <fieldset class="form-fieldset">
        <legend class="form-legend">Vos identifiants</legend>

        <div class="form-group">
            <label for="{{ form.email.vars.id }}"
                   class="form-label {% if form.email.vars.required %}required{% endif %}">
                {{ form.email.vars.label }}
            </label>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            <label for="{{ form.plainPassword.vars.id }}"
                   class="form-label {% if form.plainPassword.vars.required %}required{% endif %}">
                {{ form.plainPassword.vars.label }}
            </label>
            {{ form_widget(form.plainPassword) }}
            {{ form_errors(form.plainPassword) }}
        </div>
    </fieldset>

    <fieldset class="form-fieldset">
        <legend class="form-legend">Votre identité</legend>

        <div class="form-group">
            <label for="{{ form.firstname.vars.id }}"
                   class="form-label {% if form.firstname.vars.required %}required{% endif %}">
                {{ form.firstname.vars.label }}
            </label>
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}
        </div>

        <div class="form-group">
            <label for="{{ form.lastname.vars.id }}"
                   class="form-label {% if form.lastname.vars.required %}required{% endif %}">
                {{ form.lastname.vars.label }}
            </label>
            {{ form_widget(form.lastname) }}
            {{ form_errors(form.lastname) }}
        </div>
    </fieldset>

    <div class="form-group">
        <label for="{{ form.agreeTerms.vars.id }}"
               class="form-label {% if form.agreeTerms.vars.required %}required{% endif %}">
            {{ form_widget(form.agreeTerms) }}
            {{ form.agreeTerms.vars.label }}
        </label>
        {{ form_errors(form.agreeTerms) }}
    </div>

    <button type="submit" class="app-btn cta">Inscription</button>

    <hr/>

    <p class="text-center">
        <strong>
            <small>J'ai déjà mon compte dans la QuizzySphere :</small>
        </strong>
        <a href="{{ path('app_login') }}" class="app-btn">
            Je me connecte
        </a>
    </p>
    {{ form_end(form) }}
{% endblock %}
