{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Nouvelle Question{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>

        <h1>
            <small>{{ quizz.name }} :</small>
            <br/>
            Nouvelle Question
        </h1>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_quizz_show', {'id': quizz.id}) }}" class="text-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Quizz
        </a>
    </section>

    <section class="alt">
        <p class="mb-0">
            <strong class="text-primary">Quizz associé : </strong>
            {{ quizz.name }}
            <br/>
            <strong class="text-primary">Question n°{{ maxPosition + 1 }}</strong>
        </p>
    </section>

    {{ include('admin/question/_form.html.twig') }}
{% endblock %}
