{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Modifier un Quizz{% endblock %}

{% block main %}
    <section class="bg-image">
        {% if quizz.cover %}
            <img src="{{ asset('uploads/quizz/' ~ quizz.cover) }}" alt="{{ quizz.name }}"/>
        {% else %}
            <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>
        {% endif %}

        <h1>
            <small>Modifier un Quizz :</small>
            {{ quizz.name }}
        </h1>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_quizz_index') }}" class="text-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Liste
        </a>
        <a href="{{ path('app_admin_quizz_show', {id: quizz.id}) }}" class="text-primary">
            <i class="fa-solid fa-eye"></i>
            Détails
        </a>
        <a href="{{ path('app_admin_quizz_delete', {id: quizz.id}) }}"
           class="text-danger"
           onclick="return window.confirm('Supprimer ce Quizz ?')">
            <i class="fa-solid fa-trash-can"></i>
            Supprimer
        </a>
    </section>

    {{ include('admin/quizz/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
