{% extends 'layout/default/_index.html.twig' %}
{% set quizz = attempt.quizz %}

{% block title %}Quizz : {{ quizz.name }}{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>

        <h1>
            <small>Quizz de {{ attempt.player.fullname }} :</small>
            <br/>
            {{ quizz.name }}
        </h1>
    </section>

    <section class="controls">
        <a href="#" class="text-primary" onclick="history.go(-1)">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Retour
        </a>
    </section>

    <section class="alt">
        <h2>Informations</h2>
        <ul>
            <li>
                <strong class="text-primary">Score : </strong>
                {% set totalQuestions = (attempt.quizz.questions | length) %}
                {% if attempt.score == totalQuestions %}
                    <strong class="text-success">{{ attempt.score * 2 }}/20</strong>
                {% elseif attempt.score >= totalQuestions * 3 / 4 %}
                    <strong class="text-info">{{ attempt.score * 2 }}/20</strong>
                {% elseif attempt.score > totalQuestions / 4 %}
                    <strong class="text-warning">{{ attempt.score * 2 }}/20</strong>
                {% else %}
                    <strong class="text-danger">{{ attempt.score * 2 }}/20</strong>
                {% endif %}
            </li>
            <li>
                <strong class="text-primary">Réalisé le :</strong>
                {{ attempt.endedAt | date ('d/m/Y à H:i') }}
            </li>
            <li>
                <strong class="text-primary">Niveau :</strong>
                {{ quizz.level }}
            </li>
            {% if quizz.timer %}
                <li>
                    <strong class="text-primary">Temps de réponse :</strong>
                    {{ quizz.timer }}s
                </li>
            {% endif %}
        </ul>
    </section>

    <section>
        <h2>Réponses de {{ attempt.player.fullname }}</h2>

        <ol class="question">
            {% for question in quizz.questions %}
                {% set userAnswer = null %}
                {% for attemptAnswer in attempt.attemptAnswers %}
                    {% if attemptAnswer.question.id == question.id %}
                        {% set userAnswer = attemptAnswer %}
                    {% endif %}
                {% endfor %}
                <li class="app-dropdown {% if userAnswer.score == 1 %}success{% elseif userAnswer.answer == null %}empty{% else %}danger{% endif %}">
                    <input type="checkbox"/>
                    {{ question.text | raw }}

                    <div class="dropdown-content">
                        <p class="mb-1 text-center">
                            {% if not userAnswer.answer %}
                                <strong class="text-warning">
                                    &nbsp;<i class="fa-solid fa-ban"></i>
                                    {{ attempt.player.fullname }} n'a pas répondu à cette question
                                </strong>
                            {% elseif userAnswer.score == 1 %}
                                <strong class="text-success">
                                    &nbsp;<i class="fa-solid fa-check-circle"></i>
                                    Bonne réponse
                                </strong>
                            {% else %}
                                <strong class="text-danger">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                    Mauvaise réponse
                                </strong>
                            {% endif %}
                        </p>

                        {% if question.answers | length > 0 %}
                            <ol type="A">
                                {% for answer in question.answers %}
                                    <li class="{% if answer.correct %}text-success{% elseif not answer.correct and answer == userAnswer.answer %}text-danger{% endif %}">
                                        <strong>{{ answer.text }}</strong>
                                        {% if answer.help %}
                                            <p>
                                                {{ answer.help }}
                                            </p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ol>
    </section>
{% endblock %}
