{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Fiche Quizz{% endblock %}

{% block main %}
    <section class="bg-image">
        {% if quizz.cover %}
            <img src="{{ asset('uploads/quizz/' ~ quizz.cover) }}" alt="{{ quizz.name }}"/>
        {% else %}
            <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>
        {% endif %}

        <h1>
            <small>Quizz :</small>
            <br/>
            {{ quizz.name }}
        </h1>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_quizz_index') }}" class="text-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Retour
        </a>
        <a href="{{ path('app_admin_quizz_edit', {'id': quizz.id}) }}" class="text-info">
            <i class="fa-solid fa-pen-to-square"></i>
            Modifier
        </a>
    </section>

    {% if not quizz.active %}
        <section class="inactive">
            <h3>Quizz désactivé</h3>
        </section>
    {% endif %}

    <section class="alt">
        <h2>Informations</h2>
        <ul>
            <li>
                <strong class="text-primary">Niveau :</strong>
                {{ quizz.level }}
            </li>
            {% if quizz.timer %}
                <li>
                    <strong class="text-primary">Temps de réponse :</strong>
                    {{ quizz.timer }}s
                </li>
            {% else %}
                <li>
                    <strong class="text-primary">Non chronométré</strong>
                </li>
            {% endif %}
            <li>
                <strong class="text-primary">Nombre de Questions :</strong>
                {{ quizz.questions | length }}/{{ app_settings.quizzQuestionsMax }}
            </li>
            <li>
                <strong class="text-primary">Créé le :</strong>
                {{ quizz.createdAt|date('d/m/Y à H:i') }}
            </li>
        </ul>
    </section>

    <section>
        <h2>Questions du Quizz</h2>

        {% if quizz.questions | length < app_settings.quizzQuestionsMax %}
            <p class="text-center">
                <a href="{{ path('app_admin_question_add', {'id': quizz.id}) }}" class="app-btn cta success">
                    <i class="fa-solid fa-circle-plus"></i>
                    Nouvelle Question
                </a>
                <strong>ou</strong>
                <a href="#" class="app-btn">
                    <i class="fa-solid fa-flask-vial"></i>
                    Générer une Question
                </a>
            </p>
        {% endif %}

        {% if quizz.questions | length > 0 %}
            <ol class="question">
                {% for question in quizz.questions %}
                    <li class="app-dropdown">
                        <input type="checkbox"/>
                        {{ question.text | raw }}

                        <div class="dropdown-content">
                            {% if question.answers | length > 0 %}
                                <ol type="A">
                                    {% for answer in question.answers %}
                                        <li>
                                            <a href="{{ path('app_admin_answer_edit', {'id': answer.id}) }}"
                                               {% if answer.correct %}class="text-success"{% endif %}>
                                                {{ answer.text }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            {% endif %}

                            <div class="app-grid two no-xs mb-0">
                                {% if question.answers | length < app_settings.quizzAnswersMax %}
                                    <a href="{{ path('app_admin_answer_add', {'id': question.id}) }}"
                                       class="app-btn text-success">
                                        <small>
                                            <i class="fa-solid fa-circle-plus"></i>
                                            Nouvelle Réponse
                                        </small>
                                    </a>

                                    <a href="#" class="app-btn text-primary">
                                        <small>
                                            <i class="fa-solid fa-flask-vial"></i>
                                            Générer une Réponse
                                        </small>
                                    </a>
                                {% endif %}

                                <a href="{{ path('app_admin_question_edit', {'id': question.id}) }}"
                                   class="app-btn text-info">
                                    <small>
                                        <i class="fa-solid fa-pen-to-square text-info"></i>
                                        <strong>Modifier la Question</strong>
                                    </small>
                                </a>
                                <a href="{{ path('app_admin_question_delete', {'id': question.id}) }}"
                                   class="app-btn text-danger"
                                   onclick="return window.confirm('Supprimer cette question ?')">
                                    <small>
                                        <i class="fa-solid fa-trash-can text-danger"></i>
                                        <strong>Supprimer la Question</strong>
                                    </small>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </section>
{% endblock %}
