{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Fiche Quizz{% endblock %}

{% block main %}
    <section class="bg-image">
        {% if quizz.cover %}
            <img src="{{ asset('uploads/quizz/' ~ quizz.cover) }}" alt="{{ quizz.name }}"/>
        {% else %}
            <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>
        {% endif %}

        <h1>
            <small>Quizz :</small>
            <br/>
            {{ quizz.name }}
        </h1>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_quizz_index') }}" class="text-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Retour
        </a>
        <a href="{{ path('app_admin_quizz_edit', {'id': quizz.id}) }}" class="text-info">
            <i class="fa-solid fa-pen-to-square"></i>
            Modifier
        </a>
    </section>

    {% if not quizz.active %}
        <section class="inactive">
            <h3>Quizz désactivé</h3>
        </section>
    {% endif %}

    <section class="alt">
        <h2>Informations</h2>
        <ul>
            <li>
                <strong class="text-primary">Niveau :</strong>
                {{ quizz.level }}
            </li>
            {% if quizz.timer %}
                <li>
                    <strong class="text-primary">Temps de réponse :</strong>
                    {{ quizz.timer }}s
                </li>
            {% else %}
                <li>
                    <strong class="text-primary">Non chronométré</strong>
                </li>
            {% endif %}
            <li>
                <strong class="text-primary">Créé le :</strong>
                {{ quizz.createdAt|date('d/m/Y à H:i') }}
            </li>
        </ul>
    </section>
{% endblock %}
