{% extends (app.user) ? 'layout/default/_index.html.twig' : 'layout/guest/_index.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block main %}
    {% if app.user %}
        <section class="bg-image">
            <img src="{{ asset('img/home_cover.png') }}" alt="QuizzySphere"/>

            <h1>
                <small>Bienvenue</small>
                <br/>
                {{ app.user.fullname }}
            </h1>
        </section>

        <section class="alt">
            <p>
                Vous êtes <strong>connecté</strong> avec le compte <em>{{ app.user.userIdentifier }}</em>.
            </p>
        </section>

        <section>
            <div class="app-grid third">
                <article class="app-card">
                    <a href="{{ path('app_quizz_index') }}">
                        <div class="card-header">
                            <strong>Quizzs</strong>
                        </div>
                        <div class="card-body text-primary">
                            <p class="big">
                                {% set totalQuizzs = (app_quizzService.collectQuizzsFromCategories(userCategories, app.user) | length) + (app.user.attempts | length) %}
                                {{ app.user.attempts | length }}<small>/{{ totalQuizzs }}</small>
                            </p>
                        </div>
                        <div class="card-footer text-right">
                            <small>réalisés</small>
                        </div>
                    </a>
                </article>

                {% if app.user.attempts | length > 0 %}
                    {% set note = 0 %}
                    {% for attempt in app.user.attempts %}
                        {% set note = note + attempt.score %}
                    {% endfor %}
                    {% set note = note / (app.user.attempts | length) %}
                {% else %}
                    {% set note = "-" %}
                {% endif %}
                <article class="app-card">
                    <div class="card-header">
                        <strong>Note</strong>
                    </div>
                    <div class="card-body text-primary">
                        <p class="big">
                            {{ note }}<small>/20</small>
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <small>de moyenne</small>
                    </div>
                </article>
            </div>

            <div class="app-grid third reverse">
                <article class="app-card">
                    <div class="card-header">
                        <strong>Classement</strong>
                    </div>
                    <div class="card-body text-primary">
                        <p class="big">
                            {{ users | length }}<small>/{{ users | length }}</small>
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <small>au général</small>
                    </div>
                </article>

                <article class="app-card">
                    <a href="{{ path('app_course_index') }}">
                        <div class="card-header">
                            <strong>Parcours</strong>
                        </div>
                        <div class="card-body text-primary">
                            <p class="big">{{ userCourses | length }}</p>
                        </div>
                        <div class="card-footer text-right">
                            <small>
                                suivi{% if userCourses | length > 1 %}s{% endif %}
                            </small>
                        </div>
                    </a>
                </article>
            </div>
        </section>
    {% else %}
        <section class="bg-image">
            <img src="{{ asset('img/home_cover.png') }}" alt="QuizzySphere"/>

            <h1>Bienvenue dans la QuizzySphere !</h1>
        </section>

        <section class="alt">
            <p>
                Bienvenue dans le monde fascinant de <strong>QuizzySphere</strong>, l'application de quizz conçue pour
                offrir une expérience interactive, éducative et entièrement personnalisable.
            </p>
        </section>

        <section>
            <div class="app-grid third">
                <article class="app-card">
                    <div class="card-header text-center">
                        <small>des questions</small>
                    </div>
                    <div class="card-body">
                        <p class="big text-primary">
                            <i class="fa-solid fa-globe" aria-hidden="true"></i>
                        </p>
                        <strong>Universelles</strong>
                    </div>
                </article>

                <article class="app-card">
                    <div class="card-header text-center">
                        <small>une application</small>
                    </div>
                    <div class="card-body">
                        <p class="big text-primary">
                            <i class="fa-solid fa-hand-pointer" aria-hidden="true"></i>
                        </p>
                        <strong>Interactive</strong>
                    </div>
                </article>
            </div>

            <div class="app-grid third reverse">
                <article class="app-card">
                    <div class="card-header text-center">
                        <small>des parcours</small>
                    </div>
                    <div class="card-body">
                        <p class="big text-primary">
                            <i class="fa-solid fa-brain" aria-hidden="true"></i>
                        </p>
                        <strong>complets</strong>
                    </div>
                </article>

                <article class="app-card">
                    <div class="card-header text-center">
                        <small>une expérience</small>
                    </div>
                    <div class="card-body">
                        <p class="big text-primary">
                            <i class="fa-solid fa-person-snowboarding" aria-hidden="true"></i>
                        </p>
                        <strong>Glissante</strong>
                    </div>
                </article>
            </div>
        </section>

        <section class="alt text-center">
            <strong>
                <small>Je viens d'arriver dans la QuizzySphere :</small>
            </strong>
            <a href="{{ path('app_register') }}" class="app-btn cta">Je m'inscris !</a>
            <strong>
                <small>j'ai déjà un compte :</small>
            </strong>
            <a href="{{ path('app_login') }}" class="app-btn">Je me connecte</a>
            <strong>
                <small>j'ai besin d'une info :</small>
            </strong>
            <a href="{{ path('app_contact_index') }}" class="app-btn">Je contacte l'admin</a>
        </section>

        <section>
            <dl>
                <dt>
                    <i class="fa-solid fa-cubes"></i>
                    Diversité des Quizz
                </dt>
                <dd>
                    De la culture générale à la science, en passant par l'informatique,
                    la musique et l'histoire, QuizzySphere offre des quizz pour tous les
                    intérêts et tous les niveaux.
                </dd>

                <dt>
                    <i class="fa-solid fa-cubes"></i>
                    Création de Quizz Personnalisés
                </dt>
                <dd>
                    Les utilisateurs peuvent créer leurs propres quizz, en choisissant
                    les thèmes, les questions, les options de réponses et le niveau de
                    difficulté.
                </dd>

                <dt>
                    <i class="fa-solid fa-cubes"></i>
                    Interface Intuitive et Adaptable
                </dt>
                <dd>
                    Naviguez facilement à travers une interface claire et réactive,
                    garantissant une expérience utilisateur fluide et agréable.
                </dd>

                <dt>
                    <i class="fa-solid fa-cubes"></i>
                    Points & Classements
                </dt>
                <dd>
                    Accumulez des points pour chaque bonne réponse et grimpez dans les
                    classements pour devenir un maître du quizz.
                </dd>

                <dt>
                    <i class="fa-solid fa-cubes"></i>
                    Feedback Immédiat et Éducatif
                </dt>
                <dd>
                    Obtenez des explications détaillées après chaque réponse pour
                    enrichir vos connaissances.
                </dd>
            </dl>
        </section>
    {% endif %}
{% endblock %}
