{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Administration{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/home_cover.png') }}" alt="Administration de QuizzySphere"/>

        <h1>
            <small>Administration :</small>
            <br/>
            Tableau de bord
        </h1>
    </section>

    <section class="alt">
        <p>
            Bienvenue <strong>{{ app.user.fullname }}</strong> !
            <br/>
            Vous êtes connecté avec le compte <em>{{ app.user.userIdentifier }}</em>.
        </p>
    </section>

    <section>
        <div class="app-grid third">
            <article class="app-card">
                <a href="{{ path('app_admin_user_index') }}">
                    <div class="card-header">
                        <strong>Utilisateur{% if users | length > 1 %}s{% endif %}</strong>
                    </div>
                    <div class="card-body text-primary">
                        <p class="big">{{ users | length }}</p>
                    </div>
                    <div class="card-footer text-right">
                        <small>inscrit{% if users | length > 1 %}s{% endif %}</small>
                    </div>
                </a>
            </article>

            <article class="app-card">
                <a href="{{ path('app_admin_usergroup_index') }}">
                    <div class="card-header">
                        <strong>Groupe{% if userGroups | length > 1 %}s{% endif %} d'Utilisateurs</strong>
                    </div>
                    <div class="card-body text-primary">
                        <p class="big">{{ userGroups | length }}</p>
                    </div>
                    <div class="card-footer text-right">
                        <small>créé{% if userGroups | length > 1 %}s{% endif %}</small>
                    </div>
                </a>
            </article>
        </div>

        <div class="app-grid third reverse">
            <article class="app-card">
                <a href="{{ path('app_admin_quizzcategory_index') }}">
                    <div class="card-header">
                        <strong>Catégorie{% if quizzCategories | length > 1 %}s{% endif %} de Quizzs</strong>
                    </div>
                    <div class="card-body text-primary">
                        <p class="big">{{ quizzCategories | length }}</p>
                    </div>
                    <div class="card-footer text-right">
                        <small>créée{% if quizzCategories | length > 1 %}s{% endif %}</small>
                    </div>
                </a>
            </article>

            <article class="app-card">
                <a href="#">
                    <div class="card-header">
                        <strong>Quizz{% if quizzs | length > 1 %}s{% endif %}</strong>
                    </div>
                    <div class="card-body text-primary">
                        <p class="big">{{ quizzs | length }}</p>
                    </div>
                    <div class="card-footer text-right">
                        <small>en ligne</small>
                    </div>
                </a>
            </article>
        </div>

        <div class="app-grid third">
            <article class="app-card">
                <a href="{{ path('app_admin_course_index') }}">
                    <div class="card-header">
                        <strong>Parcours</strong>
                    </div>
                    <div class="card-body text-primary">
                        <p class="big">{{ courses | length }}</p>
                    </div>
                    <div class="card-footer text-right">
                        <small>créé{% if courses | length > 1 %}s{% endif %}</small>
                    </div>
                </a>
            </article>
        </div>
    </section>
{% endblock %}
