{{ form_start(form, {'attr': {'class': 'app-form'}}) }}

<fieldset class="form-fieldset">
    <div class="form-group">
        <label for="{{ form.text.vars.id }}"
               class="form-label {% if form.text.vars.required %}required{% endif %}">
            {{ form.text.vars.label }}
        </label>
        {{ form_widget(form.text) }}
        {{ form_errors(form.text) }}
    </div>

    <div class="form-group">
        <label for="{{ form.help.vars.id }}"
               class="form-label {% if form.help.vars.required %}required{% endif %}">
            {{ form.help.vars.label }}
        </label>
        {{ form_widget(form.help) }}
        {{ form_errors(form.help) }}
    </div>

    <div class="form-group toggle">
        <label for="{{ form.correct.vars.id }}"
               class="toggle-label {% if form.correct.vars.required %}required{% endif %}">
            {{ form.correct.vars.label }}
        </label>
        {{ form_widget(form.correct) }}
        <div class="toggle-switch"></div>
    </div>
</fieldset>

{{ form_widget(form._token) }}
<button type="submit" class="app-btn cta">{{ button_label|default('Créer') }}</button>
{{ form_end(form, {'render_rest': false}) }}
