{{ form_start(form, {'attr': {'class': 'app-form'}}) }}

<fieldset class="form-fieldset">
    <div class="form-group">
        <label for="{{ form.name.vars.id }}"
               class="form-label {% if form.name.vars.required %}required{% endif %}">
            {{ form.name.vars.label }}
        </label>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        <label for="{{ form.cover.vars.id }}"
               class="form-label {% if form.cover.vars.required %}required{% endif %}">
            {{ form.cover.vars.label }}
        </label>
        {{ form_widget(form.cover) }}
        {{ form_errors(form.cover) }}
    </div>
</fieldset>

<fieldset class="form-fieldset">
    <div class="form-group">
        <label for="{{ form.parent.vars.id }}"
               class="form-label {% if form.parent.vars.required %}required{% endif %}">
            {{ form.parent.vars.label }}
        </label>
        {{ form_widget(form.parent) }}
        {{ form_errors(form.parent) }}
    </div>

    <div class="form-group">
        <label for="{{ form.active.vars.id }}"
               class="form-label {% if form.active.vars.required %}required{% endif %}">
            {{ form_widget(form.active) }}
            {{ form.active.vars.label }}
        </label>
        {{ form_errors(form.active) }}
    </div>
</fieldset>

<button type="submit" class="app-btn cta">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
