{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Fiche Catégorie de Quizzs{% endblock %}

{% block main %}
    <section class="bg-image">
        {% if quizzCategory.cover %}
            <img src="{{ asset('uploads/quizz_category/' ~ quizzCategory.cover) }}" alt="{{ quizzCategory.name }}"/>
        {% else %}
            <img src="{{ asset('img/quizzcategories_cover.png') }}" alt="Les Catégories de Quizzs"/>
        {% endif %}

        <h1>
            <small>Catégorie de Quizzs :</small>
            <br/>
            {{ quizzCategory.name }}
        </h1>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_quizzcategory_index') }}" class="text-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Retour
        </a>
        <a href="{{ path('app_admin_quizzcategory_edit', {'id': quizzCategory.id}) }}" class="text-info">
            <i class="fa-solid fa-pen-to-square"></i>
            Modifier
        </a>
    </section>

    <section class="alt">
        <h2>Informations</h2>
        <ul>
            <li>
                <strong class="text-primary">Créée le :</strong>
                {{ quizzCategory.createdAt|date('d/m/Y à H:i') }}
            </li>

            {% set quizzs = app_quizzService.collectQuizzsFromCategories([quizzCategory]) %}
            <li>
                {% if quizzs | length > 0 %}
                    <i class="fa-solid fa-globe text-fourth"></i>
                    <strong class="text-primary">
                        {{ quizzs | length }}
                        Quizz{% if quizzs | length > 1 %}s{% endif %}
                    </strong>
                {% else %}
                    <strong class="text-primary">Aucun quizz</strong>
                {% endif %}
            </li>
        </ul>
    </section>

    {% if not quizzCategory.active %}
        <section class="inactive">
            <h3>Catégorie désactivée</h3>
        </section>
    {% endif %}

    {% if quizzCategory.quizzs | length > 0 %}
        <section>
            <h2>
                {{ quizzCategory.quizzs | length }}
                Quizz{% if quizzCategory.quizzs | length > 1 %}s{% endif %}
            </h2>

            <dl>
                {% for quizz in quizzCategory.quizzs %}
                    <dt>{{ quizz.name }}</dt>
                    <dd>
                        <figure>
                            {% if quizz.cover %}
                                <img src="{{ asset('uploads/quizz_category/' ~ quizz.cover) }}"
                                     alt="{{ quizz.name }}"/>
                            {% elseif quizzCategory.cover %}
                                <img src="{{ asset('uploads/quizz_category/' ~ quizz.quizzCategory.cover) }}"
                                     alt="{{ quizz.name }}"/>
                            {% else %}
                                <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>
                            {% endif %}
                        </figure>

                        <p>
                            <small>
                                <strong>Niveau :</strong>
                                {{ quizz.level }}
                            </small>
                        </p>

                        <div class="app-grid two">
                            <a href="{{ path('app_admin_quizz_show', {'id': quizz.id}) }}"
                               class="app-btn">
                                <small>
                                    <i class="fa-solid fa-eye text-primary"></i>
                                    <strong>Détails</strong>
                                </small>
                            </a>
                            <a href="{{ path('app_admin_quizz_edit', {'id': quizz.id}) }}"
                               class="app-btn text-info">
                                <small>
                                    <i class="fa-solid fa-pen-to-square text-info"></i>
                                    <strong>Modifier</strong>
                                </small>
                            </a>
                        </div>

                        {% if loop.index != quizzCategory.quizzs | length %}
                            <hr/>
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        </section>
    {% endif %}

    {% if quizzCategory.children | length > 0 %}
        <section {% if quizzCategory.quizzs | length > 0 %}class="alt"{% endif %}>
            <h2>Sous-Catégories</h2>

            <dl>
                {% for child in quizzCategory.children %}
                    <dt {% if not child.active %}class="disabled"{% endif %}>
                        {{ child.name }}
                        {% if not child.active %}
                            <small>
                                <i class="fa-solid fa-eye-slash text-warning"></i>
                            </small>
                        {% endif %}
                    </dt>
                    <dd {% if not child.active %}class="disabled"{% endif %}>
                        <figure>
                            {% if child.cover %}
                                <img src="{{ asset('uploads/quizz_category/' ~ child.cover) }}"
                                     alt="{{ child.name }}"/>
                            {% else %}
                                <img src="{{ asset('img/quizzcategories_cover.png') }}" alt="Les Catégories de Quizzs"/>
                            {% endif %}
                        </figure>

                        <p>
                            {% set quizzs = app_quizzService.collectQuizzsFromCategories([child]) %}
                            {% if quizzs | length > 0 %}
                                <i class="fa-solid fa-globe text-fourth"></i>
                                <strong class="text-center">
                                    {{ quizzs | length }}
                                    Quizz{% if quizzs | length > 1 %}s{% endif %}
                                </strong>

                                <br/>
                            {% endif %}

                            {% if child.children | length > 0 %}
                                <i class="fa-solid fa-boxes-packing text-fourth"></i>
                                <strong class="text-center">
                                    {{ child.children | length }}
                                    Sous-Catégorie{% if child.children | length > 1 %}s{% endif %}
                                </strong>
                            {% endif %}
                        </p>

                        <div class="app-grid two">
                            <a href="{{ path('app_admin_quizzcategory_show', {'id': child.id}) }}"
                               class="app-btn">
                                <small>
                                    <i class="fa-solid fa-eye text-primary"></i>
                                    <strong>Détails</strong>
                                </small>
                            </a>
                            <a href="{{ path('app_admin_quizzcategory_edit', {'id': child.id}) }}"
                               class="app-btn text-info">
                                <small>
                                    <i class="fa-solid fa-pen-to-square text-info"></i>
                                    <strong>Modifier</strong>
                                </small>
                            </a>
                        </div>

                        {% if loop.index != quizzCategory.children | length %}
                            <hr/>
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        </section>
    {% endif %}

    {% if quizzCategory.parent %}
        <section {% if quizzCategory.children | length == 0 %}class="alt"{% endif %}>
            <h2>Catégorie Parente</h2>

            <dl>
                <dt>{{ quizzCategory.parent.name }}</dt>
                <dd>
                    <figure>
                        {% if quizzCategory.parent.cover %}
                            <img src="{{ asset('uploads/quizz_category/' ~ quizzCategory.parent.cover) }}"
                                 alt="{{ quizzCategory.parent.name }}"/>
                        {% else %}
                            <img src="{{ asset('img/quizzcategories_cover.png') }}" alt="Les Catégories de Quizzs"/>
                        {% endif %}
                    </figure>

                    <p>
                        {% set quizzs = app_quizzService.collectQuizzsFromCategories([quizzCategory.parent]) %}
                        {% if quizzs | length > 0 %}
                            <i class="fa-solid fa-globe text-fourth"></i>
                            <strong class="text-center">
                                {{ quizzs | length }}
                                Quizz{% if quizzs | length > 1 %}s{% endif %}
                            </strong>

                            <br/>
                        {% endif %}

                        {% if quizzCategory.parent.children | length > 0 %}
                            <i class="fa-solid fa-boxes-packing text-fourth"></i>
                            <strong class="text-center">
                                {{ quizzCategory.parent.children | length }}
                                Sous-Catégorie{% if quizzCategory.parent.children | length > 1 %}s{% endif %}
                            </strong>
                        {% endif %}
                    </p>

                    <div class="app-grid two">
                        <a href="{{ path('app_admin_quizzcategory_show', {'id': quizzCategory.parent.id}) }}"
                           class="app-btn">
                            <small>
                                <i class="fa-solid fa-eye text-primary"></i>
                                <strong>Détails</strong>
                            </small>
                        </a>
                        <a href="{{ path('app_admin_quizzcategory_edit', {'id': quizzCategory.parent.id}) }}"
                           class="app-btn text-info">
                            <small>
                                <i class="fa-solid fa-pen-to-square text-info"></i>
                                <strong>Modifier</strong>
                            </small>
                        </a>
                    </div>
                </dd>
            </dl>
        </section>
    {% endif %}
{% endblock %}
