{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Les Parcours{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Parcours"/>

        <h1>
            <small>Les Parcours :</small>
            <br/>
            {{ courses | length }} Parcours
        </h1>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_course_add') }}" class="text-success">
            <i class="fa-solid fa-circle-plus"></i>
            Nouveau
        </a>
    </section>

    <section>
        {% if courses | length > 0 %}
            <dl>
                {% for course in courses %}
                    <dt {% if not course.active %}class="disabled"{% endif %}>
                        {{ course.name }}
                        {% if not course.active %}
                            <small>
                                <i class="fa-solid fa-eye-slash text-warning"></i>
                            </small>
                        {% endif %}
                    </dt>
                    <dd {% if not course.active %}class="disabled"{% endif %}>
                        <figure>
                            {% if course.cover %}
                                <img src="{{ asset('uploads/course/' ~ course.cover) }}"
                                     alt="{{ course.name }}"/>
                            {% else %}
                                <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Parcours"/>
                            {% endif %}
                        </figure>

                        {% set quizzs = app_quizzService.quizzsByCourse(course.id) %}
                        <p>
                            <i class="fa-solid fa-globe text-fourth"></i>
                            <strong>
                                {{ quizzs | length }}
                                Quizz{% if quizzs | length > 1 %}s{% endif %}
                            </strong>

                            <br/>

                            <i class="fa-solid fa-boxes-packing text-fourth"></i>
                            <strong>
                                {{ course.quizzCategories | length }}
                                Catégorie{% if course.quizzCategories | length > 1 %}s{% endif %}
                            </strong>
                        </p>

                        <div class="app-grid two">
                            <a href="{{ path('app_admin_course_show', {'id': course.id}) }}"
                               class="app-btn">
                                <small>
                                    <i class="fa-solid fa-eye text-primary"></i>
                                    <strong>Détails</strong>
                                </small>
                            </a>
                            <a href="{{ path('app_admin_course_edit', {'id': course.id}) }}"
                               class="app-btn text-info">
                                <small>
                                    <i class="fa-solid fa-pen-to-square text-info"></i>
                                    <strong>Modifier</strong>
                                </small>
                            </a>
                        </div>

                        {% if loop.index != courses | length %}
                            <hr/>
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        {% else %}
            <p class="text-center">Aucun parcours.</p>
        {% endif %}
    </section>
{% endblock %}
