{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Fiche Parcours{% endblock %}

{% block main %}
    <section class="bg-image">
        {% if course.cover %}
            <img src="{{ asset('uploads/course/' ~ course.cover) }}" alt="{{ course.name }}"/>
        {% else %}
            <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Parcours"/>
        {% endif %}

        <h1>
            <small>Parcours :</small>
            <br/>
            {{ course.name }}
        </h1>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_course_index') }}" class="text-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Retour
        </a>
        <a href="{{ path('app_admin_course_edit', {'id': course.id}) }}" class="text-info">
            <i class="fa-solid fa-pen-to-square"></i>
            Modifier
        </a>
    </section>

    {% if not course.active %}
        <section class="inactive">
            <h3>Parcours désactivé</h3>
        </section>
    {% endif %}

    {% if quizzs | length > 0 %}
        <section class="alt">
            <h2>
                {{ quizzs | length }}
                Quizz{% if quizzs | length > 1 %}s{% endif %}
            </h2>

            <div class="app-grid two no-xs">
                {% for quizz in quizzs %}
                    <article class="app-card {% if not quizz.active %}disabled{% endif %}">
                        <div class="card-body">
                            {% if quizz.cover %}
                                <img src="{{ asset('uploads/quizz/' ~ quizz.cover) }}"
                                     alt="{{ quizz.name }}"/>
                            {% elseif quizz.quizzCategories[0].cover %}
                                <img src="{{ asset('uploads/quizz_category/' ~ quizz.quizzCategory.cover) }}"
                                     alt="{{ quizz.name }}"/>
                            {% else %}
                                <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Quizzs"/>
                            {% endif %}

                            <h3>
                                {{ quizz.name }}
                                {% if not quizz.active %}
                                    <small>
                                        <i class="fa-solid fa-eye-slash text-warning"></i>
                                    </small>
                                {% endif %}
                            </h3>

                            <p>
                                <small>
                                    <strong>Catégorie :</strong>
                                    <a href="{{ path('app_admin_quizzcategory_show', {'id': quizz.quizzCategories[0].id}) }}">
                                        {{ quizz.quizzCategories[0].name }}
                                    </a>
                                </small>

                                <br/>

                                <small>
                                    <strong>Niveau :</strong>
                                    {{ quizz.level }}
                                </small>
                            </p>
                        </div>

                        <div class="card-footer app-grid two">
                            <a href="{{ path('app_admin_quizz_show', {'id': quizz.id}) }}"
                               class="app-btn">
                                <small>
                                    <i class="fa-solid fa-eye text-primary"></i>
                                    <strong>Détails</strong>
                                </small>
                            </a>
                            <a href="{{ path('app_admin_quizz_edit', {'id': quizz.id}) }}"
                               class="app-btn text-info">
                                <small>
                                    <i class="fa-solid fa-pen-to-square text-info"></i>
                                    <strong>Modifier</strong>
                                </small>
                            </a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {% if course.quizzCategories | length > 0 %}
        <section>
            <h2>Catégories</h2>

            <dl>
                {% for quizzCategory in course.quizzCategories %}
                    <dt {% if not quizzCategory.active %}class="disabled"{% endif %}>
                        {{ quizzCategory.name }}
                        {% if not quizzCategory.active %}
                            <small>
                                <i class="fa-solid fa-eye-slash text-warning"></i>
                            </small>
                        {% endif %}
                    </dt>
                    <dd {% if not quizzCategory.active %}class="disabled"{% endif %}>
                        <figure>
                            {% if quizzCategory.cover %}
                                <img src="{{ asset('uploads/quizz_category/' ~ quizzCategory.cover) }}"
                                     alt="{{ quizzCategory.name }}"/>
                            {% else %}
                                <img src="{{ asset('img/quizzcategories_cover.png') }}" alt="Les Catégories de Quizzs"/>
                            {% endif %}
                        </figure>

                        {% set quizzs = app_quizzService.collectQuizzsFromCategories([quizzCategory]) %}
                        <p>
                            <i class="fa-solid fa-globe text-fourth"></i>
                            <strong class="text-center">
                                {{ quizzs | length }}
                                Quizz{% if quizzs | length > 1 %}s{% endif %}
                            </strong>
                        </p>

                        <div class="app-grid two">
                            <a href="{{ path('app_admin_quizzcategory_show', {'id': quizzCategory.id}) }}"
                               class="app-btn">
                                <small>
                                    <i class="fa-solid fa-eye text-primary"></i>
                                    <strong>Détails</strong>
                                </small>
                            </a>
                            <a href="{{ path('app_admin_quizzcategory_edit', {'id': quizzCategory.id}) }}"
                               class="app-btn text-info">
                                <small>
                                    <i class="fa-solid fa-pen-to-square text-info"></i>
                                    <strong>Modifier</strong>
                                </small>
                            </a>
                        </div>

                        {% if loop.index != course.quizzCategories | length %}
                            <hr/>
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        </section>
    {% endif %}
{% endblock %}
