{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Modifier un Groupe d'Utilisateurs{% endblock %}

{% block main %}
    <section>
        <h1>Modifier {{ userGroup.name }}</h1>
        <p>
            Modifiez les informations d'un groupe d'utilisateurs ici.
        </p>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_usergroup_index') }}" class="text-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Liste
        </a>
        <a href="{{ path('app_admin_usergroup_show', {id: userGroup.id}) }}" class="text-primary">
            <i class="fa-solid fa-eye"></i>
            Détails
        </a>
        <a href="{{ path('app_admin_usergroup_delete', {id: userGroup.id}) }}"
           class="text-danger"
           onclick="return window.confirm('Supprimer cet Utilisateur ?')">
            <i class="fa-solid fa-trash-can"></i>
            Supprimer
        </a>
    </section>

    {{ include('admin/usergroup/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
