{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Fiche Groupe d'Utilisateurs{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/usergroups_cover.png') }}" alt="Les Groupes d'Utilisateurs"/>

        <h1>
            <small>Groupe d'Utilisateurs :</small>
            <br/>
            {{ userGroup.name }}
            {% if app_settings.getDefaultUserGroup() == userGroup %}
                <small>
                    <i class="fa-solid fa-sliders text-warning"></i>
                </small>
            {% endif %}
        </h1>
    </section>

    <section class="controls">
        <a href="{{ path('app_admin_usergroup_index') }}" class="text-primary">
            <i class="fa-solid fa-circle-arrow-left"></i>
            Retour
        </a>
        <a href="{{ path('app_admin_usergroup_edit', {id: userGroup.id}) }}" class="text-info">
            <i class="fa-solid fa-pen-to-square"></i>
            Modifier
        </a>
    </section>

    <section class="alt">
        <h2>Informations</h2>
        <ul>
            <li>
                <strong class="text-primary">Créé le :</strong>
                {{ userGroup.createdAt|date('d/m/Y à H:i') }}
            </li>
            {% if userGroup.members | length == 0 %}
                <li>
                    <strong class="text-primary">Aucun membre</strong>
                </li>
            {% endif %}
        </ul>
    </section>

    {% if userGroup.courses | length > 0 %}
        <section>
            <h2>
                {{ userGroup.courses | length }}
                Parcours
            </h2>

            <dl>
                {% for course in userGroup.courses %}
                    <dt>
                        {{ course.name }}
                    </dt>
                    <dd>
                        <p>
                            <i class="fa-solid fa-globe text-fourth"></i>
                            {% if course.quizzCategories | length > 0 %}
                                <strong class="text-primary">
                                    Catégorie{% if course.quizzCategories | length > 1 %}s{% endif %} :
                                </strong>
                                {% for quizzCategory in course.quizzCategories %}
                                <a href="{{ path('app_admin_quizzcategory_show', {'id': quizzCategory.id}) }}">
                                    {{ quizzCategory.name }}
                                    </a>{% if loop.index < course.quizzCategories | length %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>

                        <div class="app-grid two">
                            {# <a href="{{ path('app_admin_course_show', {'id': course.id}) }}" class="app-btn">
                                <small>
                                    <i class="fa-solid fa-eye text-primary"></i>
                                    <strong>Détails</strong>
                                </small>
                            </a>
                            <a href="{{ path('app_admin_course_edit', {'id': course.id}) }}"
                               class="app-btn text-info">
                                <small>
                                    <i class="fa-solid fa-pen-to-square text-info"></i>
                                    <strong>Modifier</strong>
                                </small>
                            </a> #}
                        </div>

                        {% if loop.index != course.quizzCategories | length %}
                            <hr/>
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        </section>
    {% endif %}

    {% if userGroup.members | length > 0 %}
        <section>
            <h2>
                {{ userGroup.members | length }}
                Membre{% if userGroup.members | length > 1 %}s{% endif %}
            </h2>

            <dl>
                {% for user in userGroup.members %}
                    <dt>
                        {{ user.fullname }}
                    </dt>
                    <dd>
                        <p>
                            <i class="fa-solid fa-globe text-fourth"></i>
                            {% if user.userGroups | length > 0 %}
                                <strong class="text-primary">
                                    Groupe{% if user.userGroups | length > 1 %}s{% endif %} :
                                </strong>
                                {% for userGroup in user.userGroups %}
                                <a href="{{ path('app_admin_usergroup_show', {'id': userGroup.id}) }}">
                                    {{ userGroup.name }}
                                    </a>{% if loop.index < user.userGroups | length %}, {% endif %}
                                {% endfor %}
                            {% endif %}

                            <br/>

                            <i class="fa-regular fa-calendar-days text-fourth"></i>
                            <strong class="text-primary">Inscrit le :</strong> {{ user.createdAt | date('d/m/Y') }}
                        </p>

                        <div class="app-grid two">
                            <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="app-btn">
                                <small>
                                    <i class="fa-solid fa-eye text-primary"></i>
                                    <strong>Détails</strong>
                                </small>
                            </a>
                            {% if user != app.user %}
                                <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}"
                                   class="app-btn text-info">
                                    <small>
                                        <i class="fa-solid fa-pen-to-square text-info"></i>
                                        <strong>Modifier</strong>
                                    </small>
                                </a>
                            {% endif %}
                        </div>

                        {% if loop.index != userGroup.members | length %}
                            <hr/>
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        </section>
    {% endif %}
{% endblock %}
