{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Paramètres de l'application{% endblock %}

{% block main %}
    <section class="bg-image">
        <img src="{{ asset('img/home_cover.png') }}" alt="Paramètres de QuizzySphere"/>

        <h1>
            <small>Configuration :</small>
            <br/>
            Paramètres Utilisateurs
        </h1>
    </section>

    {{ form_start(form, {'attr': {'class': 'app-form'}}) }}

    <fieldset class="form-fieldset">
        <legend class="form-legend">Les Utilisateurs</legend>

        <div class="form-group">
            <label for="{{ form.defaultUserGroup.vars.id }}"
                   class="form-label {% if form.defaultUserGroup.vars.required %}required{% endif %}">
                {{ form.defaultUserGroup.vars.label }}
            </label>
            {{ form_widget(form.defaultUserGroup, {'value': (settings and settings.defaultUserGroup ? settings.defaultUserGroup.id : null)}) }}
            {{ form_errors(form.defaultUserGroup) }}
        </div>
    </fieldset>

    <input type="hidden" name="type" value="users"/>
    {{ form_widget(form._token) }}
    <button type="submit" class="app-btn cta">Enregistrer</button>
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
