{% extends 'layout/admin/_index.html.twig' %}

{% block title %}Paramètres de l'application{% endblock %}

{% block main %}
    <section>
        <h1>Paramètres de l'application</h1>
        <p>Gérez les <strong>Paramètres Utilisateurs</strong> de la QuizzySphere.</p>
    </section>

    {{ form_start(form, {'attr': {'class': 'app-form'}}) }}

    <fieldset class="form-fieldset">
        <legend class="form-legend">Les Utilisateurs</legend>

        <div class="form-group">
            <label for="{{ form.defaultUserGroup.vars.id }}"
                   class="form-label {% if form.defaultUserGroup.vars.required %}required{% endif %}">
                {{ form.defaultUserGroup.vars.label }}
            </label>
            {{ form_widget(form.defaultUserGroup) }}
            {{ form_errors(form.defaultUserGroup) }}
        </div>
    </fieldset>

    <button type="submit" class="app-btn cta">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}
