<div class="app-grid two-sm">
    {% for quizz in quizzs %}
        <div class="app-card {% if warning is defined %} warning{% elseif success is defined %}success{% else %}alt{% endif %}">
            <a href="#">
                <div class="card-header">
                    <strong>{{ quizz.quizzCategories[0].name }}</strong>

                    {% if quizz.timer %}
                        <span class="app-badge top right">
                            <i class="fa-solid fa-stopwatch"></i>
                            {{ quizz.timer }}s
                        </span>
                    {% endif %}
                </div>

                <div class="card-body">
                    {% if quizz.cover %}
                        <img src="{{ asset('uploads/quizz/' ~ quizz.cover) }}" alt="{{ quizz.name }}"/>
                    {% else %}
                        <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Catégories de Quizzs"/>
                    {% endif %}
                    <h3 class="text-primary">{{ quizz.name }}</h3>
                </div>

                <div class="card-footer">
                    <strong>
                        {% if warning is defined %}
                            <i class="fa-solid fa-circle-question"></i>
                            1/{{ quizz.questions |length }}
                        {% elseif success is defined %}
                            <i class="fa-solid fa-square-poll-vertical"></i>
                            {{ quizz.questions |length }}/{{ quizz.questions |length }}
                        {% else %}
                            <i class="fa-solid fa-circle-question"></i>
                            {{ quizz.questions |length }}
                            question{% if quizz.questions |length > 1 %}s{% endif %}
                        {% endif %}
                    </strong>
                    <span class="app-badge bottom right">
                        {{ quizz.level }}
                    </span>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
