<div class="app-grid two-sm mb-0">
    {% for quizz in quizzs %}
        {% set userAttempt = null %}
        {% for attempt in quizz.attempts %}
            {% if attempt.player == app.user %}
                {% set userAttempt = attempt %}
            {% endif %}
        {% endfor %}
        <div class="app-card {% if warning is defined %} warning{% elseif success is defined %}success{% else %}alt{% endif %}">
            <a href="{{ path('app_quizz_show', {'slug': quizz.slug}) }}"
               {% if (not userAttempt or not userAttempt.endedAt) and quizz.timer %}onclick="return window.confirm('Attention ! Ce quizz est chronométré. Êtes-vous prêt ?')"{% endif %}>
                <div class="card-header">
                    <strong>{{ quizz.quizzCategories[0].name }}</strong>

                    {% if quizz.timer %}
                        <span class="app-badge top right text-info">
                            <i class="fa-solid fa-stopwatch"></i>
                            {{ quizz.timer }}s
                        </span>
                    {% endif %}
                </div>

                <div class="card-body">
                    {% if quizz.cover %}
                        <img src="{{ asset('uploads/quizz/' ~ quizz.cover) }}" alt="{{ quizz.name }}"/>
                    {% else %}
                        <img src="{{ asset('img/quizzs_cover.png') }}" alt="Les Catégories de Quizzs"/>
                    {% endif %}
                    <h3 class="text-primary">{{ quizz.name }}</h3>
                </div>

                {% set userAttempt = null %}
                {% for attempt in app.user.attempts %}
                    {% if attempt.quizz.id == quizz.id %}
                        {% set userAttempt = attempt %}
                    {% endif %}
                {% endfor %}

                <div class="card-footer">
                    {% if warning is defined %}
                        <strong>
                            <i class="fa-solid fa-circle-question"></i>
                            1/{{ quizz.questions |length }}
                        </strong>
                    {% elseif success is defined and userAttempt %}
                        {% set totalQuestions = (userAttempt.quizz.questions | length) * 2 %}
                        {% if userAttempt.score == totalQuestions %}
                            <strong class="text-success">
                                <i class="fa-solid fa-square-poll-vertical"></i>
                                {{ userAttempt.score ? userAttempt.score : "0" }}/20
                            </strong>
                        {% elseif userAttempt.score >= totalQuestions * 3 / 4 %}
                            <strong class="text-info">
                                <i class="fa-solid fa-square-poll-vertical"></i>
                                {{ userAttempt.score ? userAttempt.score : "0" }}/20
                            </strong>
                        {% elseif userAttempt.score > totalQuestions / 4 %}
                            <strong class="text-warning">
                                <i class="fa-solid fa-square-poll-vertical"></i>
                                {{ userAttempt.score ? userAttempt.score : "0" }}/20
                            </strong>
                        {% else %}
                            <strong class="text-danger">
                                <i class="fa-solid fa-square-poll-vertical"></i>
                                {{ userAttempt.score ? userAttempt.score : "0" }}/20
                            </strong>
                        {% endif %}
                    {% endif %}
                    <span class="app-badge bottom right">
                        {{ quizz.level | replace({'1 - ': '', '2 - ': '', '3 - ': ''}) }}
                    </span>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
